In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [3]:
file_path = 'data/drinks.csv'
drinks = pd.read_csv(file_path)
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [4]:
euro=drinks[drinks['continent']=="EU"]#유럽 국가만 데이터 뽑음
print(euro)
corr=euro[['beer_servings','wine_servings']].corr(method='pearson')#맥주 와인 데이터 상관계수 함수
corr

                country  beer_servings  spirit_servings  wine_servings  \
1               Albania             89              132             54
3               Andorra            245              138            312
7               Armenia             21              179             11
9               Austria            279               75            191
10           Azerbaijan             21               46              5
15              Belarus            142              373             42
16              Belgium            295               84            212
21   Bosnia-Herzegovina             76              173              8
25             Bulgaria            231              252             94
42              Croatia            230               87            254
44               Cyprus            192              154            113
45       Czech Republic            361              170            134
48              Denmark            224               81            278
57              Estonia            224              194             59
60              Finland            263              133             97
61               France            127              151            370
64              Georgia             52              100            149
65              Germany            346              117            175
67               Greece            133              112            218
75              Hungary            234              215            185
76              Iceland            233               61             78
81              Ireland            313              118            165
83                Italy             85               42            237
93               Latvia            281              216             62
98            Lithuania            343              244             56
99           Luxembourg            236              133            271
105               Malta            149              100            120
111              Monaco              0                0              0
113          Montenegro             31              114            128
120         Netherlands            251               88            190
126              Norway            169               71            129
135              Poland            343              215             56
136            Portugal            194               67            339
139             Moldova            109              226             18
140             Romania            297              122            167
147          San Marino              0                0              0
151              Serbia            283              131            127
155            Slovakia            196              293            116
156            Slovenia            270               51            276
160               Spain            284              157            112
165              Sweden            152               60            186
166         Switzerland            185              100            280
170           Macedonia            106               27             86
180             Ukraine            206              237             45
182      United Kingdom            219              126            195

     total_litres_of_pure_alcohol continent
1                             4.9        EU
3                            12.4        EU
7                             3.8        EU
9                             9.7        EU
10                            1.3        EU
15                           14.4        EU
16                           10.5        EU
21                            4.6        EU
25                           10.3        EU
42                           10.2        EU
44                            8.2        EU
45                           11.8        EU
48                           10.4        EU
57                            9.5        EU
60                           10.0        EU
61                           11.8        EU
64                            5.4        EU
65                           11.3        EU
67                            8.3        EU
75                           11.3        EU
76                            6.6        EU
81                           11.4        EU
83                            6.5        EU
93                           10.5        EU
98                           12.9        EU
99                           11.4        EU
105                           6.6        EU
111                           0.0        EU
113                           4.9        EU
120                           9.4        EU
126                           6.7        EU
135                          10.9        EU
136                          11.0        EU
139                           6.3        EU
140                          10.4        EU
147                           0.0        EU
151                           9.6        EU
155                          11.4        EU
156                          10.6        EU
160                          10.0        EU
165                           7.2        EU
166                          10.2        EU
170                           3.9        EU
180                           8.9        EU
182                          10.4        EU

               beer_servings  wine_servings
beer_servings       1.000000       0.297774
wine_servings       0.297774       1.000000